.hero{
    background-color: gray;
    display: flex;
    background-size: cover;
    width: 100%;
    min-width: 360px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}