.fundraising {
  background-color: #010632;

  // height: 461px;
  &-content {
    display: block;
    justify-content: center;

    @media screen and (min-width: 480px) {
      max-width: 480px;
      // display: block;
      // justify-content: center;
  }

    @media screen and (min-width: 1440px) {
      max-width: 1440px;
          display: flex;
    justify-content: center;
    }

    .fundraising-box {
      // display: inline;
      display: block;
      justify-content: center;
      padding-top: 15px;
      margin-bottom: 30px;

      @media screen and (min-width: 480px) {
        max-width: 480px;
        // padding-top: 15px;
        // margin-bottom: 30px;
      }

      @media screen and (min-width: 1440px) {
        max-width: 1440px;
        display: inline;
        margin-top: 32px;
        margin-right: 85px;
    }

      .fundraising__titel {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 26px;
        // font-size: 48px;
        color: #fff;
        display: flex;
        // justify-content: center;
        margin-bottom: 10px;

        @media screen and (min-width: 480px) {
          max-width: 480px;
          // align-items: flex-start;
        }

        @media screen and (min-width: 1440px) {
          max-width: 1440px;
          display: flex;
          font-size: 48px;
          margin-bottom: 10px;
        }
      }

      .fundraising__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        min-width: 150px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        // min-width: 150px;
        flex-wrap: wrap;

        @media screen and (min-width: 480px) {
          max-width: 480px;
          // width: 200px;
          // font-size: 20px;
        }

        @media screen and (min-width: 1440px) {
          max-width: 1440px;
          display: flex;
          font-size: 27px;
          width: 414px;
        }
      }
    }

    .fundraising-img-box {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      // width: 665px;
      // height: 364px;
      padding-bottom: 30px;
      // justify-content: space-between;
      

      @media screen and (min-width: 480px) {
        max-width: 480px;
        display: block;
      }

      @media screen and (min-width: 1440px) {
        max-width: 1440px;
        display: flex;
        width: 665px;
        height: 364px;
        gap: 35px;
        margin-top: 32px;
        margin-bottom: 58px;
    }

      .fundraising-img-jav{
        // margin-bottom: 100px;
        // width: 250px;
        // height: 150px;
        margin-bottom: 10px;

        @media screen and (min-width: 480px) {
          max-width: 480px;
          // width: 200px;
          // font-size: 20px;
        }

        @media screen and (min-width: 1440px) {
          max-width: 1440px;
          margin-bottom: 100px;
        }
      }

      .fundraising-img{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // margin-top: 160px;
        // padding-left: 100px;

        @media screen and (min-width: 480px) {
          max-width: 480px;
          display: flex;
          // padding-left: 185px;
        }

        @media screen and (min-width: 1440px) {
          // max-width: 1440px;
          display: flex;
          margin-top: 160px;
          // margin: 0 auto;
        }
      }
    }

  }
}