.about {
    background-color: #060D49;

    &-content {
        display: flex;

        &-box-img {
            display: flex;
        }

        &-box {
            display: flex;

            .about__titel {
                display: flex;
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 48px;
                color: white;
            }

            .about__text {
                display: flex;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 24px;
                color: white;
            }
        }
    }
}