.donation {
    background-color: #060D49;

    &__titel {
        display: flex;
        justify-content: center;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 26px;
        color: white;

        @media screen and (min-width: 1440px) {
            max-width: 1440px;
            font-size: 48px;
        }
    }
}