.container {
    width: 100%;
    min-width: 360px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        max-width: 768px;
        outline: 1px solid blue;
    }
    
    @media screen and (min-width: 1440px) {
        max-width: 1440px;
        outline: 1px solid green;
    }

    @media screen and (min-width: getBreakPoint('mobile')) {
        max-width: getBreakPoint('mobile');
        // width: 480px;
    }
    
    @media screen and (min-width: getBreakPoint('tablet')) {
        max-width: getBreakPoint('tablet');
        // width: 768px;
    }
    
    @media screen and (min-width: getBreakPoint('desktop')) {
        max-width: getBreakPoint('desktop');
        // width: 1200px;
    }
}